<!DOCTYPE html>
<html>
    <head>
          <title>Weather</title>
          <link rel = 'icon' href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/app.js"></script>
    
    </head>
    <body>
        <input class="main-content">
             {{>header}}
             {{!-- <form>
             <p>Use this site to get your weather</p>
             <input placeholder="search city">
             <button>search</button>
             </form>     --}}
              {{>footer}}
        </div>   
        
             
    </body>
</html>